@tailwind base;
@tailwind components;
@tailwind utilities;


.markdown-content h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.markdown-content p {
    line-height: 1.6;
    margin-bottom: 1.25rem;
}

@layer base {
    .content ol a {
        @apply text-blue-900;
    }
}

/* Add more custom styles for other elements as needed */